body{
    text-align: center;
}

button{
    padding: 8px 15px;
    border: none;
}

.input-group{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

li{
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 2px;
    background-color: azure;
    justify-content: space-between;
    display: flex;
    /* max-width: 400px; */
}